*,*::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FEF5AC;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 80%;
}

.game-title {
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-top: 1em;
}

.flex {
  display: flex;
}

.flex-center-xy {
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.game-board-border {
  background-color: #ffffff;
  width: 100px;
  height: 100px;
  margin: .25em;
  border-radius: 9px;
  box-shadow: 0px 0px 3px #5F6F94;
}

.game-board-border:hover {
  cursor: pointer;
  box-shadow: 0px 0px 9px #5F6F94;
}

.score-board {
  margin: 0 auto;
  text-align: center;
}

.fill-cell {
  width: 60px;
  margin: 0 auto;
  align-self: center;
}

.fill-cell-img {
  width: 100%;
}